/* app layout */
html, body {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#app > nav {
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}
#app > nav > .nav-title {
  text-align: center;
}

/* utility */
.btn-fa-text .fa {
  margin-right: 5px;
}
.btn-fa-text-before .fa {
  margin-right: unset;
  margin-left: 5px;
}
.gk-btn-bottom {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  box-shadow: gray 0 -2px 5px -2px;
}
.gk-btn-group > .btn:not(:first-child) {
  margin-left: 1em;
}

/* editable list */
.editable-list-content > * {
  padding: 10px 7px;
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: rgba(0, 0, 0, .3) 0 0 10px -2px;
}
.editable-list-content > *:first-child {
  margin-top: 10px;
}
.editable-list-content > *:last-child {
  margin-bottom: 10px;
}

/* gk-fix */
.gk-fix {
  display: flex;
}
.gk-fix-column {
  flex-direction: column;
  height: 100%;
}
.gk-fix-row {
  flex-direction: row;
}
.gk-fix > .gk-fix-fixed {
  flex: 0 1 0;
}
.gk-fix > .gk-fix-content {
  flex: 1 0 0;
}
.gk-fix-column > .gk-fix-content {
  overflow-y: auto;
}
.gk-fix-row > .gk-fix-content {
  overflow-x: auto;
}

/* gk-popup */
.gk-popup {
  position: fixed;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  box-shadow: rgba(0, 0, 0, .3) 0 0 8px 0px;
  border-radius: .25rem;
  z-index: 100;
}
.gk-popup > .card {
  height: 100%;
}
.gk-popup > .card > .card-body {
  overflow-y: auto;
}
.gk-popup > .card > .card-body > .list-group {
  margin-bottom: 20px;
}
